<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journal Entry</title>

    <!--    bootstrap cdn links-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="/commonjs/selectcommonfunction.js"></script>
    <script src="/commonjs/jquery.js"></script>
    <script src="/commonjs/validation.js"></script>
    <script src="/commonjs/ajaxcommonfunction.js"></script>
    <script src="/commonjs/tablecommonfuntion.js"></script>
    <script src="/controllerjs/journal.js"></script>


    <!--    jquery cdn start-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css">
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <!--    jquery cdn end-->



</head>
<body class="container-fluid">


<!--header area start-->
<div class="row p-4" style="background-color: #3C3D37;">
    <h1 class="text-center" style="color: whitesmoke">Journal Entry</h1>
</div>
<!--header area start-->



<!--button row start-->
<div class="row mb-2 mt-2">


    <div class="col-md-5">
        <!--                div modify button 2 start-->
        <div id="divModifyButton2" class="d-none">
            <div class="col-md-12">
                <button type="button" class="btn btn-warning fw-bold"
                        style="width: 15%; color: whitesmoke; border: 1px solid black;"
                        onclick="refillJournalHeader(window['editOb'],window['editRow'])">
                    <i class="fa-solid fa-recycle fa-beat"></i> Refill
                </button>
                <button type="button" class="btn btn-danger fw-bold"
                        style=" width: 15%; color: whitesmoke; border: 1px solid black; pointer-events: all"
                        onclick="deleteJournalHeader(window['editOb'],window['editRow'])">
                    <i class="fa-solid fa-trash fa-beat"></i> Delete
                </button>
                <button onclick="printInvoice(window['editOb'],window['editRow'])" type="button"
                        class="btn btn-primary fw-bold"
                        style=" width: 15%; color: whitesmoke;border: 1px solid black">
                    <i class="fa-solid fa-eye fa-beat"></i> Print
                </button>
            </div>
        </div>
        <!--                div modify button 2 end-->
    </div>


    <div class="col-md-3">
        <button type="button" class="btn btn-danger" onclick="handelResetJournalHeader()">reset</button>
        <button type="button" class="btn btn-success" style="pointer-events: all" id="btnSubmitInvoiceHeader"
                onclick="saveOrUpdateJournalHeader()">Submit
        </button>
    </div>


    <div class="col-md-4 text-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            Search
        </button>
    </div>


</div>
<!--button row end-->



<!--journal header area start-->
<div class="card p-4 m-4">
    <form onsubmit="return false">

        <div class="row mt-2" style="margin-bottom: 20px">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label for="selectCompany" class="form-label">Select Company</label>
                <select id="selectCompany" class="form-select" style="color: gray; height: 80%; font-weight: bold"
                        onchange="selectDBValidator(this,'','journalHeader','company_master_id'); customizeLedgerAccounts(this)"></select>
<!--                        onchange="selectDBValidator(this,'','pettyCashHeader','company_master_id'); customizeLedgerAccounts(this)"></select>-->
            </div>
            <div class="col-md-4"></div>
        </div>


        <div class="row mt-2" style="margin-bottom: 20px">
            <div class="col-md-1">
                <label for="textDate" class="form-label">Date</label>
                <input type="date" id="textDate" class="form-control fw-bold" style="height: 80%"
                       onchange="textValidator(this,'','journalHeader','journal_header_date')">
            </div>

            <div class="col-md-1">
                <label for="textCode" class="form-label">Code</label>
                <input type="text" id="textCode" class="form-control fw-bold" style="height: 80%" disabled placeholder="Code Will Be Auto Generate">
            </div>


            <div class="col-md-4"></div>

            <div class="col-md-6">
                <label for="textDescription" class="form-label">Description</label>
                <input type="text" id="textDescription" class="form-control fw-bold" style="height: 80%"
                       placeholder="Enter Description" onkeyup="textValidator(this,'','journalHeader','journal_header_description')">
            </div>
        </div>

    </form>
</div>
<!--journal header area end-->



<!-- journal detail area start-->
<div class="p-4">
    <form onsubmit="return false">
        <table class="table table-bordered" style="height: 100px">

            <tr>

                <td style="width: 10%">
                    <label for="selectLedgerAcc" class="form-label">Ac/Name</label>
                    <select id="selectLedgerAcc" class="form-select fw-bold" style="height: 60px" onchange="selectDBValidator(this,'','journalDetails','ledger_account_id')"></select>
                </td>

                <td style="width: 40%">
                    <label for="textJournalDetailsDescription" class="form-label">Description</label>
                    <input type="text" id="textJournalDetailsDescription" class="form-control text-start fw-bold" style="height: 60px" placeholder="Enter Description" onkeyup="textValidator(this,'','journalDetails','journal_details_description')">
                </td>

                <td style="width: 10%">
                    <label for="textJournalDetailsCredit" class="form-label">Credit</label>
                    <input type="text" id="textJournalDetailsCredit" class="form-control text-start fw-bold" style="height: 60px" placeholder="Enter Credit" onkeyup="textValidator(this,'','journalDetails','journal_details_credit')">
                </td>


                <td style="width: 10%">
                    <label for="textJournalDetailsDebit" class="form-label">Debit</label>
                    <input type="number" id="textJournalDetailsDebit" class="form-control text-start fw-bold" style="height: 60px;" placeholder="Enter Debit" onkeyup="textValidator(this,'','journalDetails','journal_details_debit')">
                </td>


                <td class="text-end">
                    <button type="button" class="btn btn-lg btn-warning" style="pointer-events: all; margin-top: 20px" onclick="updateJournalDetails()" id="buttonJournalDetailsUpdate">Update</button>
                    <button type="button" class="btn btn-lg btn-success" style="pointer-events: all; margin-top: 20px" onclick="saveJournalDetails()" id="buttonJournalDetailsAdd">Add</button>
                </td>


            </tr>


        </table>
    </form>


    <div class="row">
        <div class="col-md-5">
            <!--                div modify button 2 start-->
            <div id="divModifyButton3" class="d-none">
                <div class="col-md-12">
                    <button type="button" class="btn btn-warning fw-bold"
                            style="width: 15%; color: whitesmoke; border: 1px solid black;"
                            onclick="refillJournalDetails(window['editOb'],window['editRow'])">
                        <i class="fa-solid fa-recycle fa-beat"></i> Refill
                    </button>
                    <button type="button" class="btn btn-danger fw-bold"
                            style=" width: 15%; color: whitesmoke; border: 1px solid black; pointer-events: all"
                            onclick="deleteJournalDetails(window['editOb'],window['editRow'])">
                        <i class="fa-solid fa-trash fa-beat"></i> Delete
                    </button>
                </div>
            </div>
            <!--                div modify button 3 end-->
        </div>
    </div>

</div>
<!-- journal detail area end-->



<!--journal details table area start-->
<div class="p-5 d-none" id="divJournalDetails">
    <table class="table table-bordered" id="tableJournalDetails">
        <thead>
        <th>#</th>
        <th>Account Name</th>
        <th>Description</th>
        <th>Credit</th>
        <th>Debit</th>
        <th>Action</th>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-end" id="tFootCredit"></td>
                <td class="text-end" id="tFootDebit"></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
<!--journal details table area end-->



<!--search model area start-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel2">search</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-dark" onclick="loadFullJournalHeader()"
                                id="buttonLoadFullTable">Load Full table
                        </button>
                    </div>
                </div>

                <!--table petty cash header start-->
                <div class="card m-4" id="divJournalHeader">
                    <table class="table table-hover table-striped" id="journalHeaderTable">
                        <thead>
                        <th>#</th>
                        <th>Company</th>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Action</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!--table petty cash header end-->


                <!--table invoice full header start-->
                <div class="card m-4 d-none" id="divJournalFullHeader">
                    <table class="table table-hover table-striped" id="tableFullJournalHeader">
                        <thead>
                        <th>#</th>
                        <th>Company</th>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Action</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!--table invoice full header end-->


            </div>
        </div>
    </div>
</div>
<!--search model area end-->



</body>
</html>